<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="/Images/Logo Ferremas.png">
    <title>Carrito de Compras - Ferremas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/CSS/inicio.css">
    <link rel="stylesheet" href="/CSS/cart.css">
    <script src="/Js/carrito.js" async></script>
</head>

<body onload="items()">
    <!--ID DE LA BARRA DE NAVEGACIÓN-->
    <div class="row">
        <div class="col-10" id="navbar-container"></div>
        <div class="col-2" id="datos"></div>
      </div>

    <section class="h-100 h-custom ">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 text-orange">Carrito de compras</h1>
                                        </div>

                                        <div class="item-carrito" id="recorrer"></div>

                                        <hr class="my-4">

                                        <div class="pt-5">
                                            <h6 class="mb-0"><a href="/" class="text-orange"><i
                                                        class="fas fa-long-arrow-alt-left me-2"></i>Volver a compras</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 bg-light-orange-dark">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1 text-black">Resumen de compra</h3>
                                        <hr class="my-4 text-white">
                                        <form method="POST" action="/webpay">
                                            <div class="d-flex justify-content-between mb-5">
                                                <h5 class="text-uppercase text-black">Precio total</h5>
                                                <h5 id="precio" name="precio" class="text-black"></h5>
                                                <input type="number" id="total" name="total" value="0" hidden>
                                            </div>
                                            <input type="submit" data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-orange btn-block btn-lg" data-mdb-ripple-color="dark"
                                                value="Pagar">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="footer-container"></div>
    <!--SCRIPT PARA DESPLAZAR BOTON CATEGORÍAS-->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/Js/recorrerCarro.js"></script>
    <!--SCRIPT DE LA BARRA DE NAVEGACIÓN-->
    <script src="/Js/fetchNav.js"></script>
    <!--SCRIPT PARA ALERTA SI ESTÁ VACÍO EL CARRITO-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>