<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herramientas</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="../html/login.html">
                <img class="logo-img" src="/Images/Logo Ferremas.png" alt="Logo Ferremas">
            </a>  
            <div class="container-fluid">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="Buscar" placeholder="Busca tu producto..." aria-label="Buscar">
                <button class="btn btn-naranja" type="submit"> Buscar </button>
              </form>
            </div>                   
    </nav>

    <div class="container">
        <div class="row">
            <% tools.forEach(tool => { %>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/Images/HerrElec/<%= tool.IMG %>" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title"><%= tool.NOM %> - $<%= tool.VAL/1000 %>.000 CLP</h5>
                            <p class="card-text"><%= tool.DES %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <!-- Bootstrap JS (Optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
