<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="/Images/Logo Ferremas.png">
    <link rel="stylesheet" href="/CSS/inicio.css">
    <title>Datos de Cliente</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
</head>

<body onload="Instancia()">
    <!--ID DE LA BARRA DE NAVEGACIÓN-->
    <div class="row">
        <div class="col-10" id="navbar-container"></div>
        <div class="col-2" id="datos"></div>
      </div>

    <div class="container d-flex text-center col-6 justify-content-center" style="padding-top: 2%; padding-bottom: 2%;">
        <table class="table border border-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">RUT DEL EMPLEADO</th>

                    <th scope="col">NOMBRE EMPLEADO</th>
                    <th scope="col">TIPO EMPLEADO</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=> { %>
                    <tr>
                        <th scope="row">
                            <%= user.AIDI %>
                        </th>
                        <td>
                            <%= user.RUTER %>
                        </td>
                        <td>
                            <%= user.NEIM %>
                        </td>
                        <td>
                            <%= user.TIPO %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <div id="footer-container"></div>
    
    <script src="/Js/agregarCarrito.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.js"></script>
    <!--SCRIPT DE LA BARRA DE NAVEGACIÓN-->
    <script src="/Js/fetchNav.js"></script>
    <!--FIN SCRIPT DE LA BARRA DE NAVEGACIÓN-->
    
</body>

</html>