<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="/Images/Logo Ferremas.png">
    <title> FERREMAS - Productos de Ferreteria y Construcción  </title>
    <link rel="stylesheet" type="text/css" href="index.ejs">
    <link rel="stylesheet" href="FERREMAS/CSS/inicio.css">
 

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" 
    crossorigin="anonymous">

</head>
<body> 
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a href="/inicio">
              <img class="logo-img" src="/Images/Logo Ferremas.png" alt="Logo Ferremas" style="width: 100px;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/herramienta_electrica">Herramientas Eléctricas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/materiales">Materiales de Construcción</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/pinturas">Pinturas</a>
            </li>
              </ul>
              <form class="d-flex ms-auto" role="search">
                  <input class="form-control me-2" type="search" placeholder="Busca tu producto..." aria-label="Buscar">
                  <button class="btn btn-warning" type="submit">Buscar</button>
                   <!-- Ícono de carrito -->
                   <a href="#" class="btn btn-outline-warning ms-2">
                    <i class="fas fa-shopping-cart"></i>
                </a>
              </form>
          </div>
      </div>
  </nav>
  </header>
  <div class="container-fluid">
    <div id="carouselInicio" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="2" aria-label="Slide 3"></button>        
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active c-item">
              <img src="/Images/1.png" class="d-block w-100 c-img" alt="...">
            </div>
          <div class="carousel-item c-item">
            <img src="/Images/2.jpg" class="d-block w-100 c-img" alt="...">
          </div>
        <div class="carousel-item c-item">
          <img src="/Images/2.jpg" class="d-block w-100 c-img" alt="...">
        </div>
        <div class="carousel-item c-item">
          <img src="/Images/3.jpg" class="d-block w-100 c-img" alt="...">
          <div class="carousel-caption">                  
          </div>
        </div>    
    </div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselInicio" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselInicio" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>

<br>
<br>
<br>

<section id="art-d">
  <div class="text-center" pt-5>
    <br>
    <h2> Productos </h2>
  </div>

  <br>
  <br>
  <br>
  
  <div class="row">
    <div class="col-lg-4 col-md-6 text-center"> 
      <img src="/Images/Herramientas.jpg" alt="Productos" class="img-fluid">
      <br> 
      <a href="/herramienta_electrica" class="btn btn-warning"> Herramientas eléctricas </a>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
      <img src="/Images/Construccion.jpg" alt="Productos" class="img-fluid">
      <br>
      <a href="/materiales" class="btn btn-warning"> Materiales de construcción </a>
    </div>

    <div class= "col-lg-4 col-md-6 text-center">
      <img src="/Images/Pinturas.jpg" alt="Productos" class="img-fluid">
      <br>
      <a href="/pinturas" class="btn btn-warning" > Pinturas y recubrimientos </a>
    </div>
  </div>
</section>

<br>
<br>
<br>


<footer class="bg-dark text-white pt-4 pb-2">
  <div class="container">
      <div class="row">
          <div class="col-md-4 mb-3">
              <h5>Sobre Ferremas</h5>
              <p>Ferremas, líderes en venta de herramientas y materiales de construcción. Fundada en 2000, nuestro compromiso es ofrecer productos de calidad al mejor precio. Visítanos y encuentra todo lo que necesitas para tus proyectos.</p>
          </div>
          <div class="col-md-4 mb-3">
              <h5>Contacto</h5>
              <ul class="list-unstyled">
                  <li>Teléfono: +569 1234 5678</li>
                  <li>Email: contacto@ferremas.cl</li>
                  <li>Dirección: Calle Falsa 123, Santiago, Chile</li>
              </ul>
          </div>
          <div class="col-md-4 mb-3">
              <h5>Síguenos</h5>
              <a href="#" class="text-white me-2" style="font-size: 24px;"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="text-white me-2" style="font-size: 24px;"><i class="fab fa-instagram"></i></a>
              <a href="#" class="text-white" style="font-size: 24px;"><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-12 text-center">
              <p>© 2024 Ferremas. Todos los derechos reservados.</p>
          </div>
      </div>
  </div>
</footer>



<!--Para que funcionen los elementos de Bootstap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</body>
</html>