<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="/Images/Logo Ferremas.png">
    <title> FERREMAS - Productos de Ferreteria y Construcción  </title>
    <link rel="stylesheet" type="text/css" href="index.ejs">
    <link rel="stylesheet" href="FERREMAS/CSS/inicio.css">
 

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" 
    crossorigin="anonymous">

</head>
<body> 
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="../html/login.html">
                <img class="logo-img" src="/Images/Logo Ferremas.png" alt="Logo Ferremas">
            </a>  
            <div class="container-fluid">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="Buscar" placeholder="Busca tu producto..." aria-label="Buscar">
                <button class="btn btn-warning" type="submit"> Buscar </button>
              </form>
            </div>                   
      </nav>

      <!--Carrusel de fotos-->
  <div id="carouselInicio" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="2" aria-label="Slide 3"></button>        
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="/Images/1.png" class="d-block w-100 c-img" alt="...">
          </div>
        <div class="carousel-item c-item">
          <img src="/Images/2.jpg" class="d-block w-100 c-img" alt="...">
        </div>
        <div class="carousel-item c-item">
          <img src="/Images/3.jpg" class="d-block w-100 c-img" alt="...">
          <div class="carousel-caption">                  
          </div>
        </div>    
    </div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselInicio" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselInicio" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>

<section id="art-d">
  <div class="text-center" pt-5>
    <br>
    <h2> Productos </h2>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 text-center"> 
      <img src="/Images/Herramientas.jpg" alt="Productos" class="img-fluid">
      <br> 
      <a href="/herramienta_electrica" class="btn btn-warning"> Herramientas eléctricas </a>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
      <img src="/Images/Construccion.jpg" alt="Productos" class="img-fluid">
      <br>
      <a href="#" class="btn btn-warning"> Materiales de construcción </a>
    </div>

    <div class= "col-lg-4 col-md-6 text-center">
      <img src="/Images/Pinturas.jpg" alt="Productos" class="img-fluid">
      <br>
      <a href="#" class="btn btn-warning"> Pinturas y recubrimientos </a>
    </div>
  </div>
</section>



<!--Para que funcionen los elementos de Bootstap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</body>
</html>