<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpeg" href="/Images/Logo Ferremas.png">
  <title> FERREMAS - Productos de Ferreteria y Construcción </title>
  <link rel="stylesheet" type="text/css" href="index.ejs">
  <link rel="stylesheet" href="/CSS/inicio.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <!--ID DE LA BARRA DE NAVEGACIÓN-->
  <div class="row">
    <div class="col-10" id="navbar-container"></div>
    <div class="col-2" id="datos"></div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="/Images/Nosotros/nosotros1.jpg" alt="Imagen 2" class="img-fluid mb-3">
        <img src="/Images/Nosotros/nosotros2.jpg" alt="Imagen 3" class="img-fluid mb-3">
        <img src="/Images/Nosotros/nosotros3.jpg" alt="Imagen 4" class="img-fluid mb-3">
      </div>
      <div class="col-md-6">
        <h2>En Ferremas, construimos tus sueños con las herramientas de la excelencia y la calidad</h2>
        <br><br>
        <p>La industria de la construcción y ferretería en Chile ha experimentado un crecimiento sostenido desde la
          década de los 50, impulsada por el desarrollo urbano y la expansión de infraestructuras. Esto ha generado una
          demanda creciente de herramientas, materiales de construcción y accesorios diversos, como taladros, martillos,
          tornillos, pinturas, materiales eléctricos, etc. Este auge ha llevado al surgimiento de múltiples fabricantes
          y la aparición de diversas marcas que ofrecen un amplio abanico de opciones para satisfacer los gustos y
          necesidades de los clientes.</p>
        <br>
        <p>Con el incremento de proyectos de construcción y renovación, también surgieron distribuidoras especializadas
          en abastecer a las ferreterías y empresas constructoras. Estas distribuidoras han evolucionado a lo largo del
          tiempo, pasando de operaciones exclusivamente físicas a modelos híbridos que combinan presencia física con
          ventas en línea, facilitando así las compras y ofreciendo mayor comodidad a los clientes.</p>
        <br>
        <p>En Chile, el desarrollo de este sector no fue muy distinto, con un incremento significativo de tiendas de
          ferretería y construcción en los años 60. Esto permitió un mayor acceso a herramientas y materiales de calidad
          sin la necesidad de importarlos. Para los años 80, ya existían numerosas tiendas dedicadas a la venta y
          distribución de estos productos.</p>
        <br>
        <p>"FERREMAS" es una de estas distribuidoras, establecida en la comuna de Santiago, desde la década de los 80.
          Cuenta con 4 sucursales en la región metropolitana y 3 sucursales en regiones con planes de expansión en todo
          Chile.</p>
        <br>
        <p>En "FERREMAS", se puede encontrar una amplia gama de productos, desde herramientas manuales y eléctricas,
          pinturas, materiales eléctricos, hasta accesorios y artículos de seguridad. Trabajan con marcas reconocidas
          del sector como Bosch, Makita, Stanley y Sika, ofreciendo así diversidad y calidad en sus productos.</p>
        <p>Cada tienda de "FERREMAS" tiene una estructura organizativa clara, con roles definidos para distintas tareas,
          como administradores, vendedores, bodegueros y contadores, cada uno con responsabilidades específicas en la
          gestión de ventas, pedidos, inventario y finanzas.</p>
      </div>
    </div>
  </div>

  <div id="footer-container"></div>
  
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.js"></script>
  <script src="/Js/agregarCarrito.js"></script>
  <!--SCRIPT DE LA BARRA DE NAVEGACIÓN-->
  <script src="/Js/fetchNav.js"></script>
  <!--FIN SCRIPT DE LA BARRA DE NAVEGACIÓN-->
  
</body>

</html>