<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/transaccion.css">
    <link rel="icon" type="image/jpeg" href="/Images/Logo Ferremas.png">
    <title>Transacción Fallida</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <div class="row">
        <div class="col-10" id="navbar-container"></div>
        <div class="col-2" id="datos"></div>
      </div>
    <div class="container mt-5">
      <div class="card">
          <div class="card-header bg-danger text-white">
              <h2 class="mb-0">¡Transacción Fallida!</h2>
          </div>
          <div class="card-body">
              <p class="card-text"><strong>Tipo:</strong> <%= fallo.step %></p>
              <p class="card-text"><strong>Descripción:</strong> <%= fallo.stepDescription %></p>
          </div>
      </div>
  </div>

    <div id="footer-container"></div>
    
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.js"></script>
    <script src="/Js/fetchNav.js"></script>
    
</body>

</html>
