<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/transaccion.css">
    <title>Transacción Exitosa</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <div class="row">
        <div class="col-10" id="navbar-container"></div>
        <div class="col-2" id="datos"></div>
      </div>
        <div class="container mt-5">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="mb-0">¡Transacción Exitosa!</h2>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Token:</strong> <%= datos.token %></p>
                    <p class="card-text"><strong>Commit Response:</strong> <%= datos.commitResponse.status %></p>
                    <div class="datos">
                        <p id="nombre"></p>
                        <p id="rut"></p>
                        <p id="direccion"></p>
                        <p id="mail"></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-container"></div>
        
        <script src="/Js/confirmar.js"></script>
        <script>
            var token = "<%= datos.token %>";
            window.localStorage.setItem('token', token);
        </script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/@popperjs/core/dist/umd/popper.js"></script>
        <script src="/Js/fetchNav.js"></script>
        
</body>

</html>