<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transacción Fallida</title>
</head>
<body>
    ¡Transacción Fallida!

    Token: <%= datos.viewData.token %>
    Tipo: <%= datos.step %>
    Descripción: <%= datos.stepDescription %>
</body>
</html>