<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="/Images/Logo Ferremas.png">
    <link rel="stylesheet" href="/CSS/transaccion.css">
    <title>Transacción Exitosa</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <div class="row">
        <div class="col-10" id="navbar-container"></div>
        <div class="col-2" id="datos"></div>
      </div>
        <div class="container mt-5">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="mb-0">¡Transacción Exitosa!</h2>
                </div>
                <div class="card-body" id="insTabla">
                    <div class="container d-flex text-center col-6 justify-content-center" style="padding-top: 2%; padding-bottom: 2%;">
                        <table class="table border border-primary">
                            <thead>
                                <tr>
                                    <th scope="col">SKU Producto</th>
                                    <th scope="col">Nombre Producto</th>
                                    <th scope="col">Cantidad Comprada</th>
                                    <th scope="col">Valor Individual</th>
                                    <th scope="col">Valor Total</th>
                                </tr>
                            </thead>
                            <tbody id="elementos">
                            </tbody>
                        </table>
                </div>
                </div>
                <a href="/" class="btn btn-warning">Volver a Inicio</a>

            </div>
        </div>
        <div id="footer-container"></div>
        
        <script src="/Js/confirmar.js"></script>
        
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/@popperjs/core/dist/umd/popper.js"></script>
        <script src="/Js/fetchNav.js"></script>
        
</body>

</html>