<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="/Images/Logo Ferremas.png">
    <title>FERREMAS - Productos de Ferreteria y Construcción</title>
    <link rel="stylesheet" href="index.ejs">
    <link rel="stylesheet" href="/CSS/inicio.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/CSS/custom.css">
</head>

<body onload="action()">
    <!--ID DE LA BARRA DE NAVEGACIÓN-->
    <div class="row">
        <div class="col-10" id="navbar-container"></div>
        <div class="col-2" id="datos"></div>
    </div>

    <div class="container mt-5">
        <h1 class="text-center text-orange">Pago Webpay</h1>
        <p id="total" class="text-center"></p>

        <form action="<%= datos.url %>" method="post" class="bg-light p-5 rounded shadow">
            <div class="mb-3">
                <label for="nombre" class="form-label">Ingresa tu nombre:</label>
                <input type="text" name="name" id="nombre" class="form-control" minlength="4" maxlength="50" required>
            </div>
            <div class="mb-3">
                <label for="rut" class="form-label">Ingresa tu rut, sin puntos y sin guión:</label>
                <input type="number" name="name" id="rut" class="form-control" min="1000000" max="24000000" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Ingresa tu email:</label>
                <input type="email" name="name" id="email" class="form-control" minlength="11" maxlength="50" required>
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Ingresa tu dirección:</label>
                <input type="text" name="name" id="direccion" class="form-control" minlength="4" maxlength="100"
                    required>
            </div>
            <input type="hidden" name="token_ws" value="<%= datos.token %>">
            <div class="text-center">
                <input type="submit" value="Pagar" onclick="guardarDatos()" class="btn btn-orange mt-3">
            </div>
        </form>
    </div>

    <div id="footer-container"></div>

    <!-- Scripts necesarios -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.js"></script>
    <script src="/Js/webpay.js"></script>
    <script>
        var orden = "<%=datos.buyOrder%>";
        window.localStorage.setItem('orden', orden);
        window.localStorage.setItem('token', "<%= datos.token %>");
    </script>
    <!--SCRIPT DE LA BARRA DE NAVEGACIÓN-->
    <script src="/Js/fetchNav.js"></script>
    <!--FIN SCRIPT DE LA BARRA DE NAVEGACIÓN-->
</body>

</html>