/* Estilos personalizados en tonos naranjas */
body {
  background-color: #f9f9f9;
}

h2 {
  color: #FF8C00;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  height: 100%; /* Asegura que la tarjeta ocupe el 100% de la altura del contenedor */
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  border-bottom: 2px solid #FFA500;
  height: 200px; /* Altura fija para las imágenes */
  object-fit: cover; /* Recorta y ajusta la imagen para cubrir el área */
}

.card-body {
  flex-grow: 1; /* Permite que el contenido del cuerpo de la tarjeta se expanda */
}

.card-footer {
  background-color: #fff;
  border-top: none;
  padding-top: 10px;
  text-align: center;
}


/* Ajustes de tamaño uniforme para las tarjetas */
.card-title, .card-text {
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
}

.badge {
  font-size: 12px;
  padding: 5px 10px;
}


.navbar-nav .nav-link {
    color: #DC661F;
  }
  
  .navbar-nav .nav-link {
    color: #DC661F
  }
  
  .navbar-nav .nav-link {
    font-size: 16px;
  }

  footer {
    margin-top: auto;
  }
  
  footer h5 {
    color: #FF7F00;
  }
  
  footer a {
    color: #FF7F00;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #e66a00;
  }
  
  footer p {
    color: #FFFFFF;
  }
