.logo-img{
    width: 50px;
    height: auto;

}


.btn-naranja {
  margin-bottom: auto;
  background-color: #DC661F;
  color: #DC661F;
  border: none; 
}

.btn-naranja:hover {
  background-color: darkorange; 
}


.navbar-nav .nav-link {
    color: #DC661F; 
  }

  .navbar-nav .nav-link {
    color:#DC661F
  }
    
  .navbar-nav .nav-link {
    font-size: 16px; 
  }

  .carousel img {
    object-fit: cover; 
    height: 400px; 
  }

  .carousel-indicators [data-bs-target] {
    background-color: #DC661F;
  }
  
  .carousel-indicators .active {
    background-color: darkorange; 
  }

  .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #DC661F; 
}

.carousel-control-prev-icon {
  transform: scale(1.2); 
}

.carousel-control-next-icon {
  transform: scale(1.2);
}


body {
    /*background-image: url(../IMAGENES/Diseño\ sin\ título.png);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
    background-position: 500%;
    font-family: Arial, sans-serif;   
    text-align: center;
}

.h1{
  color: #DC661F;
}

header{
  text-align: center;
  background-color: white;
  padding: 10px;
}
header h3{
  color: #DC661F;
  font-size: 30px;
}


.btn-primary {
  color: #DC661F;
  border: none; 
  color: white; 
  height: 40px;
}


.btn-primary:hover {
  background-color: #DC661F; 
}

.img-fluid {
  max-width: 100%; 
  height: auto; 
}



#texto{
  display: grid;
  place-items: center;
}
#texto h3{
  font-size: 45px;
  font-weight: 600;
  text-shadow: 
  -1px -1px 0 rgb(43, 41, 41),
  1px -1px 0 rgb(43, 41, 41),
  1px 1px 0 rgb(43, 41, 41),
  -1px 1px 0 rgb(43, 41, 41);  
  max-width: 600px;
}
#art-d h2,
#pro h2{
  font-size: 60px;
  font-weight: 800;
  color: #DC661F;
  letter-spacing: 0.1em;
}
h3{
  font-size: 45px;
  font-weight: 600;
}

#art-d{
  padding-top: 20px;
  margin: 20px;
}
#art-d .col-lg-4{
  margin: 0 !important;
  padding: 40px;
}
#art-d img{
  width: 100%;
  height: 350px;
  object-fit: cover;  
  border:8px solid#DC661F;
  border-radius: 300px;
  max-width: 350px;
}
.accordion-item button{
  font-size: 25px;
  font-weight: 600;
  display:grid;
  text-align: center;
}

